@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #eaeaea;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  color: #000000;
}

.App {
  font-size: 16px;
}

.box {
  border-radius: 4px;
  border: solid 1px #dadada;

  box-shadow: 0 1px 2px 0 rgba(132, 132, 132, 0.75);

  background-color: #ffffff;

  padding: 30px;
}

.searchButton {
  width: 100%;

  height: 34px;

  border-radius: 20px;
  border: solid 1px #c4c4c4;

  background-color: #0ab463;

  font-size: 14px;
  font-weight: bold;

  color: #ffffff;

  cursor: pointer;
}

.searchButton:hover {
  background-color: #089954;
}

.row {
  margin-right: 100px;

  min-height: 267px;
}

@media only screen and (max-width: 680px) {
  .row {
    min-height: auto;

    margin-bottom: 18px;

    margin-right: 0;
  }
}
